In [173]:
import sqlite3
import pandas as pd

In [174]:
conn = sqlite3.connect('message_db.sqlite')

In [175]:
cursor = conn.cursor()

In [176]:
cursor.execute("Select * FROM messages")

In [177]:
result = cursor.fetchall()
result

[(1, 'Renzo', 'Test 1'),
 (2, 'Renzo', 'Test 2'),
 (3, 'Joe Bruin', 'Test 3'),
 (4, 'Renzo Tanaka-Wong', "I'm sleepy"),
 (5, 'Sam', 'Default'),
 (6, 'renzotw@g.ucla.edu', 'More messages'),
 (7, 'renzotw', 'username'),
 (8, 'Harry', 'A few more messages'),
 (9, 'Steph', 'More testing'),
 (10, 'Klay', 'Rocco'),
 (11, 'Renzo', 'One more message'),
 (12, 'Renzo', 'Submit still works'),
 (13, 'Renzo', 'Current message')]

In [165]:
cursor.execute("SELECT message, handle FROM messages ORDER BY RANDOM() LIMIT (?)", (3,))

In [166]:
messages = cursor.fetchall()

In [167]:
messages

[('Default', 'Sam'),
 ('A few more messages', 'Harry'),
 ('More messages', 'renzotw@g.ucla.edu')]

In [ ]:
m

In [110]:
df = pd.DataFrame(data=messages, columns=['name1','name2','name3'])

In [111]:
df

   name1              name2         name3
0      4  Renzo Tanaka-Wong    I'm sleepy
1      2              Renzo        Test 2
2      9              Steph  More testing

In [112]:
html_string = df.to_html()

In [113]:
html_string

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>name1</th>\n      <th>name2</th>\n      <th>name3</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>4</td>\n      <td>Renzo Tanaka-Wong</td>\n      <td>I\'m sleepy</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>Renzo</td>\n      <td>Test 2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>9</td>\n      <td>Steph</td>\n      <td>More testing</td>\n    </tr>\n  </tbody>\n</table>'